body {
  /*
  posicionamento com flex 
  display: flex;
  align-items: center; */
  position: relative;
  background-image: linear-gradient(to top, #ff2e63, #252a34);
  background-repeat: no-repeat;
  overflow: hidden;
  font-size: 16px;
  height: 100vh;
}
