.description-store {
  color: #fff;
  font-family: "Roboto", sans-serif;
  float: right;
}

.description-store > .title {
  width: 259px;
  height: 30px;
  font-size: 1.5625em;
  line-height: 30px;
  text-align: left;
  margin-bottom: 100px;
}

.description-store > .item-descrition {
  width: 120px;
  height: 24px;
  text-align: left;
  margin-bottom: 28px;
  font-size: 1.25em;
  margin-left: 0;
}

.description-store > .item-descrition.-info {
  width: 200px;
  text-align: right;
}

.description-store .contrast {
  float: left;
  text-transform: uppercase;
}

.description-store > .reputation {
  padding: 9px;
}

.description-store > .summary {
  margin-top: 73px;
  width: 550px;
  height: 110px;
  font-size: 1.125em;
  line-height: 30px;
}

.description-store > .item-descrition.-more {
  margin-bottom: 98px;
}

.description-store .action {
  text-decoration: none;
  color: inherit;
}

/* .description-store > .item-descrition.-inline {
  display: inline-block;
  font-size: 1.25em;
  width: 218px;
}

.description-store > .item-descrition.-main {
  width: 200px;
  margin-left: 38px;
} */
