.header-store {
  display: flex;
  justify-content: space-between;
  color: #fff;
  overflow: hidden;
  margin-bottom: 138px;
  padding: 0 60px;
  margin-top: 30px;
}

.header-store > .title {
  font-size: 2.5em;
  font-family: Arial, Helvetica, sans-serif;
  float: left;
  margin: 0;
  text-transform: uppercase;
}

.header-store .search {
  border: none;
  border-bottom: 1px white solid;
  width: 358px;
  background: transparent;
  margin-right: 50px;
  color: inherit;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  padding: 8px;
}

.header-store > .menu {
  font-family: "Roboto", sans-serif;
  font-size: 1.312em;
  float: right;
}

.item-menu {
  text-decoration: none;
  color: inherit;
  margin-right: 60px;
}

.item-menu:last-child {
  margin-right: 0;
}
