.header-store {
  display: flex;
  justify-content: space-between;
  color: #fff;
  overflow: hidden;
  margin-bottom: 138px;
  padding-left: 60px;
}

.header-store > .title {
  font-size: 2.5em;
  font-family: Arial, Helvetica, sans-serif;
  float: left;
  margin: 0;
  text-transform: uppercase;
}

.header-store > .search {
  border: none;
  border-bottom: 1px white solid;
  width: 360px;
  background: transparent;
  margin-left: 300px;
}

::placeholder {
  width: 56px;
  height: 22px;
  font-family: Arial;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: #ffffff;
}

.header-store > .menu {
  font-family: "Roboto", sans-serif;
  font-size: 1.312em;
  float: right;
}

.item-menu {
  text-decoration: none;
  color: inherit;
  margin-right: 60px;
}

.item-menu:last-child {
  margin-right: 0;
}
