.header-store {
  display: flex;
  justify-content: space-between;
  color: #fff;
  overflow: hidden;
  margin-bottom: 138px;
  padding-left: 60px;
}

.header-store > .title {
  font-size: 2.5em;
  font-family: Arial, Helvetica, sans-serif;
  float: left;
  margin: 0;
  text-transform: uppercase;
}

.header-store > .menu {
  font-family: "Roboto", sans-serif;
  font-size: 1.312em;
  float: right;
}

.item-menu {
  text-decoration: none;
  color: inherit;
  margin-right: 60px;
}

.item-menu:last-child {
  margin-right: 0;
}
